@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
    outline: none;
    font-family: arial, sans-serif;
    overscroll-behavior-x: none;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body{
    height: 300vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 10%;
    color: white;
    background-color: black;
}

.navbar h1{
    font-size: 2.5rem;
}

.nav-links{
    line-height: 46.4px ;
}

.nav-links a{
 color: white;
 font-size: 1.3rem;
 margin: 0rem 0.2rem 0rem 0.2rem;
}

.slider{
    margin-top: 1rem;
}

.slider img{
    display: block;
    margin: auto;
    width: 84vw;
    border-radius: 0.3rem;
    box-shadow: 0rem 0.2rem 0.625rem #c5c5c5;
}

.gallery-pics{
    width: 84vw;
    display: flex;
    margin: auto;
    box-shadow: 0rem 0.5rem 0.625rem #dddddd;
}

.gallery h1{
    font-size: 2.5rem;
    margin: 1rem 0rem 1rem;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1.5rem 0rem 1.5rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0rem 0.2rem 0.625rem #c5c5c5;
}


.gallery span img{
    transform: translate(5%, 20%);
    width: 2.5rem;
}

.column{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.image-div{
 display: inline-block;
 font-size: 0rem;
 overflow: hidden;
 margin: 0rem;
 padding: 0rem;
}

.gallery-pics img{
    max-width: 28vw;
    padding: 0.12rem;
    transition: transform 0.1s;
}

.gallery-pics img:hover{
   transform: scale(1.1);
}

@media(max-width: 500px){
    .gallery h1{
        font-size: 1.2rem;
        padding: 1rem 0rem 1rem;
    }
    .gallery span img{
        transform: translate(5%, 20%);
        width: 1.2rem;
    }
}